<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Free Use System</title>

    

    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/img/favicon-16x16.png">
    <link rel="manifest" href="../Assets/img/site.webmanifest">
    <link rel="mask-icon" href="../Assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/css/dataTables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../Assets/css/dataTables/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 px-1">
            <button class="navbar-toggler btn-nav my-1" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item active nav-coor">
                  <a class="nav-link text-center btn-nav" href="usuarios.html">Home</a>
                </li>
                <li class="nav-item nav-prof">
                    <a class="nav-link text-center btn-nav" href="asignarNotas.html">Asignar Notas</a>
                </li>
                <li class="nav-item nav-estu">
                    <a class="nav-link text-center btn-nav" href="verNotas.html">Ver Notas</a>
                </li>
              </ul>
            </div>
            <a class="ml-auto mr-2 text-center btn-log text-decoration-none p-1 rounded" href="#">
                <span id="lblUsuarioLog">Logout</span>
                <em class="fas fa-sign-out-alt"></em>
            </a>
        </nav>
    </header>
    <section class="container-fluid px-1 mx-0 mb-1">
        <div class="d-flex container-fluid justify-content-between mt-3">
            <h2 class="h2 font-weight-light d-inline mb-0">Usuarios</h2>
            <button type="button" class="btn btn-submit" id="btnCreate" data-toggle="modal" data-target="#usuarioModal"><em class="fas fa-plus mr-2"></em>Nuevo</button>
        </div>
        <hr class="mt-1">
        <div class="container-fluid mt-2">
            <table id="table-usuarios" class="table table-bordered table-hover" aria-describedby="Tabla de usuarios">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Nombres</th>
                        <th scope="col" class="text-center">Correo</th>
                        <th scope="col" class="text-center">Rol</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- MODAL DE USUARIO -->
        <div class="modal fade" id="usuarioModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="usuarioModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="usuarioModalTitle">Modal title</h5>
                  <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- FORMULARIO Y CUERPO DE LA PRIMERA PESTAÑA -->
                <form action="" method="POST" id="formUsuario" name="formUsuario" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="txtDocumento">Documento de identidad</label>
                                <input type="hidden" id="opcion" name="opcion" value="create"></input>
                                <input type="text" class="form-control" id="txtDocumento" name="txtDocumento" minlength="8" maxlength="20" pattern="^[0-9]{8,20}$" autocomplete="off" required>
                                <div class="invalid-feedback text-justify">El campo debe tener mínimo 8 caracteres y solo puede contener números.</div>
                            </div>                                  
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="txtNombres">Nombres</label>
                                <input type="text" class="form-control" id="txtNombres" name="txtNombres" minlength="5" maxlength="80" pattern="^(?!^\s)(?=.*\s.+)(?![a-zA-Z]\s)(?!.*\s[a-zA-Z]\s)(?!.*\s[a-zA-Z]$).[a-zA-Z\s]{5,80}$" autocomplete="off" autocapitalize="characters" required>
                                <div class="invalid-feedback text-justify">El campo debe tener mínimo 5 caracteres y solo puede contener letras.</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="txtClave1">Contraseña</label>
                                <div class="input-group groupPassword">
                                    <input type="text" class="form-control" id="txtClave1" name="txtClave1" minlength="8" maxlength="16" pattern="^(?=.*\d)(?=.*[\u0021-\u002f\u003a-\u0040\u005e-\u005f])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$" autocomplete="off" required></input>
                                    <div class="invalid-feedback text-justify">La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un símbolo.</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtClaveClave2">Confirmar Contraseña</label>
                                <div class="input-group groupPassword">
                                    <input type="text" class="form-control" id="txtClave2" name="txtClave2" minlength="8" maxlength="16" pattern="^()$" autocomplete="off" required></input>
                                    <div class="invalid-feedback text-justify">Las contraseñas ingresadas no coinciden</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="txtCorreo">Correo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="#" class="text-dark"><em class="fas fa-at"></em></a>
                                        </div>
                                    </div>
                                    <input type="email" name="txtCorreo" id="txtCorreo" class="form-control" placeholder="E-mail" minlength="8" maxlength="30" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" autocomplete="off" autocapitalize="characters" required>
                                    <div class="invalid-feedback text-justify">El correo ingresado no es valido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="txtRol">Rol</label>
                                <select class="form-control" id="txtRol" name="txtRol" required>
                                    <option value="" selected>Selecione...</option>
                                </select>
                                <div class="invalid-feedback text-justify">Debe escoger al menos una opción.</div>
                            </div>
                        </div>

                        <div id="group-edit" class="d-none">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="txtEstado">Estado</label>
                                    <select class="form-control" id="txtEstado" name="txtEstado" required>
                                        <option value="" selected>Selecione...</option>
                                    </select>
                                    <div class="invalid-feedback text-justify">Debe escoger al menos una opción.</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="txtFecha">Fecha últ. login</label>
                                    <input type="text" class="form-control text-center" id="txtFecha" name="txtFecha" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FOOTER DEL MODAL -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-submit">Registrar</button>
                    </div>
                    <!-- FIN DEL FOOTER DEL MODAL -->

                </form>
              </div>
            </div>
          </div>  
          <!-- FIN DEL MODAL DE USUARIO         -->

        <!-- MODAL PARA ELIMINAR -->
        <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteModalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Eliminar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex w-100">
                        <img class="img-modal mx-auto" src="../Assets/img/question.svg" alt="question.svg">
                    </div>
                    <p class="text-center my-1">Seguro que desea eliminar al usuario <strong id="lblDelete">NOMBRE Y APELLIDO</strong>?</p>
                </div>
                <div class="modal-footer">
                    <form id="frmDelete" name="frmDelete">
                        <input type="hidden" readonly id="txtDocumentoDelete" name="txtDocumentoDelete" value="0">
                        <input type="hidden" readonly id="txtEstadoDelete" name="txtEstadoDelete" value="0">
                        <button type="submit" class="btn btn-submit">Eliminar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- FIN DEL MODAL PARA ELIMINAR -->

        <!-- MODAL PARA RESTABLECER LA CONTRASEÑA -->
        <div class="modal fade" id="refreshModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="refreshModalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="refreshModalTitle">Restablecer contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex w-100">
                        <img class="img-modal mx-auto" src="../Assets/img/notify.svg" alt="notify.svg">
                    </div>
                    <p class="text-center my-1">Seguro que desea restablecer la clave del usuario <strong id="lblRefresh">NOMBRE Y APELLIDO</strong>?</p>
                </div>
                <div class="modal-footer">
                    <form id="frmRefresh" name="frmRefresh">
                        <input type="hidden" id="txtDocumentoRefresh" name="txtDocumentoRefresh" required></input>
                        <input type="hidden" id="txtEstadoRefresh" name="txtEstadoRefresh" required></input>
                        <button type="submit" class="btn btn-submit">Restablecer</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- FIN DEL MODAL PARA RESTABLECER -->

        <!-- TARJETA DE NOTIFICACION -->
        <div class="position-fixed bottom-0 right-0 p-3 notify-pane" aria-live="polite" aria-atomic="true">
            
            <!-- PARA EXITO -->
            <div class="toast hide" id="toastSuccess" role="status" aria-live="polite" aria-atomic="true" data-animation="true" data-delay="5000">
                <div class="toast-header bg-success">
                    <span class="rounded mr-2 text-light">&#10003;</span>
                    <strong class="mr-auto text-light">Éxito</strong>
                    <small class="text-light">Ahora</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="lblToastSuccess" class="toast-body bg-light text-justify">
                    Hello, world! This is a toast message success.
                </div>
            </div>

            <!-- EN CASO DE ERROR -->
            <div id="toastError" class="toast hide" use role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-delay="5000">
                <div class="toast-header bg-red">
                    <span class="rounded mr-2 text-light">&#128711;</span>
                    <strong class="mr-auto text-light">Error</strong>
                    <small class="text-light">Ahora</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="lblToastError" class="toast-body bg-light text-justify">
                  Hello, world! This is a toast message error.
                </div>
              </div>
        </div>
        <!-- FIN DE LA TARJETA DE NOTIFICACION -->
    </section>

    <footer class="m-0 p-0 row bg-dark justify-content-center text-light">
        <h6 class="m-0 small pb-1 font-italic bg-dark">Copyright &copy; 2021 - All Rights Reserved</h6>
    </footer>
    <script src="https://kit.fontawesome.com/d51e0c6239.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="../Assets/js/dataTable/datatables.min.js"></script>
    <script src="../Assets/js/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="../Assets/js/dataTable/responsive.bootstrap4.min.js"></script>

    <script src="../Assets/js/pageAccess.js"></script>
    <script src="../Assets/js/functionToDatatable.js"></script>
    <script src="../Assets/js/ajaxToForms.js"></script>
    <script src="../Assets/js/functionToRegistro.js"></script>
    <script src="../Assets/js/functionToForm.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>